<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>
        {% block title %}
        Заголовок
        {% endblock %}
    </title>
</head>
<body>
<nav class="main_menu">
    <ul class="main_menu__ul">
        <li>
            <a class="main_menu__link" href="/index.html/">Главная</a>
        </li>
        <li>
            <a class="main_menu__link" href="/clothing.html/">Одежда</a>
        </li>
        <li>
            <a class="main_menu__link" href="/shoes.html/">Обувь</a>
        </li>
        <li>
            <a class="main_menu__link" href="/jacket.html/">Куртка</a>
        </li>
        <li>
            <a class="main_menu__link" href="/about.html/">О нас</a>
        </li>
        <li>
            <a class="main_menu__link" href="/contacts.html/">Контакты</a>
        </li>
        <li>
            <a class="main_menu__link" href="/login.html/">Вход</a>
        </li>
    </ul>
</nav>
<header class="header">
    <h1 class="page_title">
        {% block header %}
            <a>Добро пожаловать!</a>
        {% endblock %}
    </h1>
</header>
<content class="content">
    <div class="content-box">
        {% block content %}
        Контент
        {% endblock %}
    </div>
</content>
<footer class="footer">
    <div class="footer-box">
        <p class="copyright_text">© 2024 Все права Защищены.</p>
    </div>
</footer>
</body>
</html>