{% extends 'base_template.html' %}

{% block title %}
  {{ title }}
{% endblock %}

{% block content %}
    <p class="text">Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                Odio, impedit quaerat! Expedita iure molestiae natus cum tenetur consectetur,
                voluptatibus nihil sed tempora esse facilis impedit voluptatum eligendi magni
                minima quos. Natus asperiores dolorem voluptatibus officiis, ex, ea magni maxime
                quia optio dolor explicabo debitis itaque beatae dicta commodi quas ratione molestiae,
                neque rem cupiditate. Quidem, illum, nam dolores atque similique sunt deleniti maxime
                impedit assumenda vitae facilis? Quibusdam totam ab enim possimus quod molestias,
                nemo alias minima, hic natus, maxime dolorem! Delectus hic sunt tempore rem voluptate
                totam repellendus corrupti quaerat dolorum assumenda aperiam, autem architecto illo
                ex excepturi quos recusandae temporibus quibusdam eius asperiores iusto? Officiis
                dolores in tempora. Sunt illo nisi libero amet inventore aperiam assumenda,
                ut excepturi consequatur odit. Vitae, quia. Similique nemo cupiditate aliquam
                excepturi modi suscipit nobis reprehenderit beatae culpa ad repellendus ducimus,
                est earum perferendis ea? Commodi, consequuntur! Ab, similique obcaecati. Labore,
                mollitia eos.</p>
    <div class="products">
        {% block products %}
            Описание товара
        {% endblock %}
    </div>
{% endblock %}